<nav class="navbar navbar-expand-lg m-navbar">
  <div class="container-wrapper">
    　<%= link_to image_tag("https://www.ohanaliving.vn/8cc95480cbd2708db10ad4b8de56306a.svg") ,static_pages_home_path, class: "navbar-left"%>
    <div class="" id="navbarSupportedContent" style="display: flex">
      <ul class="navbar-nav me-auto　">
        <li class="nav-item" style="margin: 0 50px">
          <%= link_to "ホーム", homes_path %>
        </li>
        <li class="nav-item" style="margin: 0 50px">
        <%= link_to "好きホーム", homelikes_path %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item" style="margin: 0 50px">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
        <li class="nav-item">
        <%= link_to "編集", edit_user_registration_path%>
      </li>
        <% else %>
        <li class="nav-item" style="margin: 0 50px">
             <%= link_to "サインイン", new_user_session_path %>
        </li>
        <li class="nav-item">
             <%= link_to "登録",  new_user_registration_path %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>