<%= form_with(model: home_review) do |form| %>
  <% if home_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(home_review.errors.count, "error") %> prohibited this home_review from being saved:</h2>

      <ul>
        <% home_review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :home_id %>
    <%= form.number_field :home_id %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
