<%= form_with(model: home) do |form| %>
  <% if home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(home.errors.count, "error") %> prohibited this home from being saved:</h2>

      <ul>
        <% home.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%# ------------------ %>
  <div class="container">
  <div class="row">
    <div class="col-8">
      <form>
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class:"form-control" %>
          <%= form.label :address %>
          <%= form.text_field :address, class:"form-control" %>
        </div>
        
        <div class="form-group">
          <%= form.label :room_number %>
          <%= form.number_field :room_number, class:"form-control" %>
        </div>
        
        <div class="form-group">
          <%= form.label :detail %>
          <%= form.text_area :detail, class:"form-control rows-3", placeholder:"Details"%>
        </div>
        
        <div class="form-group">
          <label for="group2">Add apartment detail picture</label>
          <div class="input-group" id="group2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon2"><i class="fas fa-file-image"></i></span>
            </div>
            <div class="custom-file">
              <%= form.label :detail_image , class:"custom-file-input" %>
              <%= form.file_field :detail_image, multiple: true, class:"custom-file-label" %>
            </div>
          </div>
        </div>
        <div class="actions ">
          <%= form.submit 'Submit', :class => 'btn btn-info'%>
        </div>
        <%# <button type="submit" class="btn btn-info">Submit</button> %>
      </form>
    </div>
  </div>
</div>
  <%# ------------------ %>
<% end %>
