<p id="notice"><%= notice %></p>

<%# ----------------------------- %>
<%# ------------------------------ %>
<div class="header-wrapper">
  <h1 style="display: flex">日本のお部屋探しをオンラインで！</h1>
  <%= link_to '家を投稿', new_home_path, class: 'btn btn-primary btn-sm header-btn' %>
</div>
<%= search_form_for @q do |f| %>
  <%= f.search_field :name_or_address_or_room_number_or_price_cont, placeholder: "探す..." %>
  <%= f.submit "探す" %>
<% end %>
<% @homes.each do |home| %>
<div class="home-wrapper">
  <div class="col-md-10">
    <div class="row p-2 bg-white border rounded">
        <div class="col-md-3 mt-1"> 
        <% if home.home_avatar.attached? %>
        <%=  image_tag home.home_avatar, :class => "img-fluid img-responsive rounded product-image" %>
        <% else %>
        <img class="img-fluid img-responsive rounded product-image" src="https://i.pinimg.com/originals/65/f7/dc/65f7dc76ea6b4974e4d56bca0837af4b.gif" alt="home image">
        <% end %>

      </div>
        <div class="col-md-6 mt-1">
            <h5> 名前: <%= home.name %></h5>
            <h6> 住所: <%= home.address %></h6>
            <div class="d-flex flex-row">
                <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span> 部屋数: <%=home.room_number%></span>
            </div>
            <p class="text-justify text-truncate para mb-0"> 詳細: <%= home.detail%>  <br><br></p>
        </div>
        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
            <div class="d-flex flex-row align-items-center">
                <h4 class="mr-1"> 家賃: <%= home.price %>円</h4>
            </div>
            <%# <h6 class="text-success">Free shipping</h6> %>
            <div class="d-flex flex-column mt-4">
              <%= link_to '詳細', home, class: 'btn btn-primary btn-sm m-light-btn' %>
              <%= link_to '編集', edit_home_path(home), class: 'btn btn-secondary btn-sm mt-2 m-light-btn' %>
              <%= link_to '削除', home, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm mt-2 m-light-btn btn-danger' %>
            </div>
        </div>
    </div>
  </div>
</div>
<% end %>
