<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @home.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @home.address %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @home.room_number %>
</p>

<p>
  <strong>Price:</strong>
  <%= @home.price %>
</p>

<p>
  <strong>user name:</strong>
  <%= @home.user.name %>
</p>

<p>
  <strong>detail:</strong>
  <%= @home.detail   %>
</p>

<p>
  <strong>avatar:</strong>
  <%=  image_tag(@home.home_avatar) %>
</p>

<p>
  <strong>detail_image:</strong>
  <% if @home.detail_image.attached? %>
    <% @home.detail_image.each do |image|%>
    <%=  image_tag image  ,width: "200px" %>
    <% end %> 
  <% end %>
</p>

<h2>Review From</h2>
 <%= form_with(model: @home_review, local: true) do |form| %>
   <div class= "field">
     <%= form.text_area :review %>
     <%= form.hidden_field :home_id, :value => @home.id %>
   </div>
   <div class="actions">
     <%= form.submit %>
   </div>
<% end %>

<h2>Review List</h2>
<ul>
 <% @home.home_review.each do |home_review|%>
    <li><%= home_review.review %>
     (<i><%= home_review.user.name %></i>)
    </li>
 <% end %>
</ul>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
