<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @home.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @home.address %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @home.room_number %>
</p>

<p>
  <strong>Price:</strong>
  <%= @home.price %>
</p>

<p>
  <strong>user name:</strong>
  <%= @home.user.name %>
</p>

<p>
  <strong>user name:</strong>
  <%= @home.user.phone %>
</p>
<p>
  <strong>detail:</strong>
  <%= @home.detail   %>
</p>

<p>

  <% if @home.detail_image.attached? %>
    <strong>avatar:</strong>
    <%=  image_tag(@home.home_avatar) %>
  <% end %>
</p>

<p>

<% if @home.detail_image.attached? %>
  <strong>detail_image:</strong>
    <% @home.detail_image.each do |image|%>
    <%=  image_tag image  ,width: "200px" %>
    <% end %> 
  <% end %>
</p>
  <% if user_signed_in? %>
      <% like = nil%>
    <% current_user.homelikes.each do |homelike|%>
      <% if homelike.home_id == @home.id %>
      <% like = 1%>
      <% end %>
    <% end %>
      <% else %>
      <% like = nil%>
      <% end %>
  <% if !like%>
    <%= form_with(model: @homelike) do |form| %>
      <% if @homelike.errors.any? %>

        <div id="error_explanation">
          <h2><%= pluralize(homelike.errors.count, "error") %> prohibited this homelike from being saved:</h2>
          <ul>
            <% homelike.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>

      <% end %>

      <div class="field">
        <%= form.hidden_field :home_id , :value => @home.id%>
      </div>

      <div class="field">
        <%= form.hidden_field :status, :value => "1"%>
      </div>

      <div class="actions">
        <%= form.submit "Like", class:'btn btn-primary'%>
      </div>
    <% end %>
  <% else %>
    <% current_user.homelikes.each do |homelike| %>
      <% if homelike.home_id == @home.id %>
      <%= link_to 'Destroy', homelike, method: :delete, data: { confirm: 'Are you sure?',:user_id => current_user.id, :home_id => @home.id }, class: 'btn btn-danger' %>
      <% end %>
    <%end%>
    
</div>
    <% end %>


<h2>Review From</h2>
 <%= form_with(model: @home_review, local: true) do |form| %>
   <div class= "field">
     <%= form.text_area :review %>
     <%= form.hidden_field :home_id, :value => @home.id %>
   </div>
   <div class="actions">
     <%= form.submit %>
   </div>
<% end %>

<h2>Review List</h2>
<ul>
 <% @home.home_review.each do |home_review|%>
    <li><%= home_review.review %>
     (<i><%= home_review.user.name %></i>)
    </li>
 <% end %>
</ul>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
