<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @home.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @home.address %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @home.room_number %>
</p>

<p>
  <strong>Price:</strong>
  <%= @home.price %>
</p>

<p>
  <strong>user name:</strong>
  <%= @home.user.name %>
</p>

<p>
  <strong>detail:</strong>
  <%= @home.detail   %>
</p>

<p>
  <strong>avatar:</strong>
  <%=  image_tag(@home.home_avatar) %>
</p>

<p>
  <strong>detail_image:</strong>
  <% if @home.detail_image.attached? %>
    <% @home.detail_image.each do |image|%>
    <%=  image_tag image  ,width: "200px" %>
    <% end %> 
  <% end %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
