<p id="notice"><%= notice %></p>

<h1>Homes</h1>


  <% current_user.homelikes.each do |homelike| %>
    <% @homes.each do |home| %>
      <div class="home-wrapper">
        <div class="col-md-10">
          <div class="row p-2 bg-white border rounded">
              <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://picsum.photos/200" alt="home image"></div>
              <div class="col-md-6 mt-1">
                  <h5><%= home.name %></h5>
                  <h6><%= home.address %> Address</h6>
                  <div class="d-flex flex-row">
                      <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>123</span>
                  </div>
                  <p class="text-justify text-truncate para mb-0"><%= home.detail%> details.<br><br></p>
              </div>
              <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                  <div class="d-flex flex-row align-items-center">
                      <h4 class="mr-1"><%= home.price %>$</h4>
                  </div>
                  <%# <h6 class="text-success">Free shipping</h6> %>
                  <div class="d-flex flex-column mt-4">
                    <%= link_to 'Details', home, class: 'btn btn-primary btn-sm' %>
                    <%= link_to 'Edit', edit_home_path(home), class: 'btn btn-outline-primary btn-sm mt-2' %>
                    <%= link_to 'Delete', home, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary btn-sm mt-2' %>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <% end %>
  <% end %>
