<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-12 col-lg-12">
  <div class="card">
    <div class="card-header border-bottom-0">
      <h3 class="card-title">好きな家のリスト</h3>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap table-warning mb-0">
        <thead  class="bg-warning text-drak">
          <tr>
            <th>名前</th>
            <th>住所</th>
            <th>部屋</th>
            <th>家賃</th>
            <th>詳しく</th>
            <th colspan="2">操作</th>
          </tr>
        </thead>
        <tbody>
        <% current_user.homelikes.each do |homelike| %>
          <% @homes.each do |home| %>
            <% if homelike.home_id == home.id%>
              <tr>
                <td><%= home.name %></td>
                <td><%= home.address %></td>
                <td><%= home.room_number %></td>
                <td><%= home.price %></td>
                <td><%= home.detail%></td>
                <td><%= link_to '詳細', home , class: 'btn btn-warning text-drak'%></td>
                <td><%= link_to '削除', homelike, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
              </tr>
            <% end %>
          <% end %>
        <%end%>
        </tbody>
      </table>
    </div>
    <!-- table-responsive -->
  </div>
</div>
</div>





<br>





<div class="row">
<div class="col-md-12 col-lg-12">
  <div class="card">
    <div class="card-header border-bottom-0">
      <h3 class="card-title">投稿した家のリスト</h3>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap table-warning mb-0">
        <thead  class="bg-warning text-drak">
          <tr>
            <th>名前</th>
            <th>住所</th>
            <th>部屋</th>
            <th>家賃</th>
            <th>詳しく</th>
            <th colspan="2">操作</th>
          </tr>
        </thead>
        <tbody>
        <% current_user.homes.each do |homelike| %>
          
              <tr>
                <td><%= homelike.name %></td>
                <td><%= homelike.address %></td>
                <td><%= homelike.room_number %></td>
                <td><%= homelike.price %></td>
                <td><%= homelike.detail%></td>
                <td><%= link_to '詳細', homelike , class: 'btn btn-warning text-drak'%></td>
                <td><%= link_to '削除', homelike, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!-- table-responsive -->
  </div>
</div>
</div>
<br>

